@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap');
*{
font-family:"Poppins", sans-serif;
margin: 0;
padding: 0;
scroll-behavior: smooth;
box-sizing: border-box;
}
body{
width: 100%
height: 100vh;
display: flex;
flex-direction: column;
place-items: center;
justify-content: center;
color: #000;
background: #2D4B13;
}
.form-container{
padding: 20px;
}
.form-container h3{
font-size: 1.2rem;
font-weight: 600;
margin-bottom: 1rem;
}
.contact-form{
display: grid;
row-gap: 1rem;
}
.contact-form input{
width: 100%;
border: none;
outline: none;
background: #2D4B13;
padding: 10px;
font-size: 0.9rem;
color: #fff;
border-radius: 0.4rem;
overflow: hidden;
}
.contact-container, .contact-form textarea{
max-width: 960px;
margin: auto;
width: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 1.5rem;
background: #5A7841;
box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
border-radius: 0.5rem;
overflow: hidden;
}
.form-container{
padding: 20px;
}
.form-conainer h3{
font-size: 1.2rem;
font-weight: 600;
margin-bottom: 1rem;
}
.contact-form{
display: grid;
row-gap: 1rem;
}
.contact-form input, .contact-form textarea{
width: 100%;
border: none;
outline: none;
background: #36521E;
padding: 10px;
font-size: 0.9rem;
color: #fff;
border-radius: 0.4rem; 
}
.contact-form textarea{
resize: none;
height: 200px;
}
.contact-form .send-button{
border: none;
outline: none;
background: #8A9481;
font-size: 1rem;
font-weight: 500;
text-transform: uppercase;
cursor: pointer;
}
.contact-form .send-button:hover{
background: hsl(181,100%,44%, 0.8);
transition: 0.3s all linear;
}
.map iframe{
width: 100%;
height: 100%;
}
@media (max-width: 964px){
.contact-container{
margin:0 auto;
width: 90%
}
}
@media (max-width: 964px){
.contact-container{
grid-template-columns: 1fr;
gap: 1rem;
margin-top: 20rem !important;
}
.map iframe{
height: 400px;
}
}

{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
}
nav{
height: 65px;
background: #2D4B13;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0rem calc((100vw-1300px)/2);
}
.logo{
color: #000;
font-size: 30px;
font-weight: bold;
font-style: italic;
padding: 0 2rem;
}
nav a{
text-decoration: none;
color: #000;
padding: 0 1.4rem;
}
nav a:hover{
color: #fff;
}
.hero{
background: #5A7841;
}

.column-left{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
color: #000;
padding: 0rem 3rem;
}

.column-left p{
margin-bottom: 2rem;
font-size: 1rem;
line-height: 1.75;
}
button{
padding: 1rem 3rem;
font-size: 1rem;
border: none;
color: #5A7841;
background: #000;
cursor: pointer;
}
button: hover{
background: #fff;
color: #000;
}
@media screen and (max-width: 768px) {
.hero-container{
grid-template-columns: 1fr;
}
}